<launch>
  <arg name="address" default="127.0.0.1" />
  <arg name="port" default="2000" />
  <arg name="map_location" default="meskel_square" />
  <arg name="ego_control_mode" default="gamma" />

  <param name="address" type="string" value="$(arg address)" />
  <param name="port" type="int" value="$(arg port)" />
  <param name="map_location" type="string" value="$(arg map_location)" />
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find summit_connector)/launch/map.yaml" />

  <node pkg="tf" 
        type="static_transform_publisher" 
        name="static_transform_publisher" 
        args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser_frame 10" />

  <node name="spawn_meshes" pkg="summit_connector" type="spawn_meshes.py" output="screen"/>
 
  <node name="ego_vehicle" pkg="summit_connector" type="ego_vehicle.py" output="screen">
    <param name="control_mode" value="$(arg ego_control_mode)"/>
  </node>
  
  <node name="speed_controller" pkg="summit_connector" type="speed_controller.py" output="screen"/>
  
  <node name="purepursuit_controller" pkg="summit_connector" type="purepursuit_controller.py" output="screen"/>

  <node name="gamma_crowd_controller" pkg="summit_connector" type="gamma_crowd_controller.py" output="screen">
    <param name="num_network_car_agents" value="70"/>
    <param name="num_network_bike_agents" value="25"/>
    <param name="num_sidewalk_agents" value="10"/>
    <param name="path_min_points" value="20"/>
    <param name="path_interval" value="1.0"/>
  </node>
  
  <!--
  <node name="simple_crowd_controller" pkg="summit_connector" type="simple_crowd_controller.py" output="screen">
    <param name="num_network_car_agents" value="75"/>
    <param name="num_network_bike_agents" value="35"/>
    <param name="num_sidewalk_agents" value="10"/>
    <param name="path_min_points" value="20"/>
    <param name="path_interval" value="1.0"/>
  </node>
  -->

  <!--
  <node name="crowd_processor" pkg="summit_connector" type="crowd_processor.py" output="screen"/>
  <node name="spectator" pkg="summit_connector" type="spectator.py" output="screen"/>
  -->
</launch>
