<launch>
	<!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_map" args="0 0 0 0 0 0 /base_link /map 10"/> -->

     <!-- **** cost map and path planning **** -->
     <!--<node name="ped_path_planner" pkg="ped_is_despot" type="path_planner" output="screen" >-->
     <node name="ped_path_planner" pkg="ped_pathplan" type="path_planner" output="screen" >
         <rosparam file="$(find ped_pathplan)/launch/params.yaml" command="load" />
         <param name = "ped_costmap/inflation_radius" value="$(arg inflation_radius)" />
         <param name = "cost_steering_deg" value="$(arg cost_steering_deg)" />
         <remap from="ped_path_planner/planner/plan" to="plan" />
         <remap from="navgoal" to="/move_base_simple/goal"/>
		 <param name="ped_costmap/global_frame" value="/map"/>
		 <param name="ped_costmap/robot_base_frame" value="/base_link"/>
     </node>

<!--      <node name="send_start_goal" pkg="ped_pathplan" type="send_start_goal" output="screen" >
         <rosparam file="$(find ped_pathplan)/launch/params.yaml" command="load" />
         <remap from="navgoal" to="/move_base_simple/goal"/>
     </node> -->
</launch>
