<launch>
	 <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false">
	    <param name="odom_frame_id" value="robot_0/odom"/>
	    <param name="base_frame_id" value="robot_0/base_link"/>
	</node>
    <node name="fake_localization1" pkg="fake_localization" type="fake_localization" respawn="false">
	    <param name="odom_frame_id" value="robot_1/odom"/>
	    <param name="base_frame_id" value="robot_1/base_link"/>
	</node>
    <node name="fake_localization2" pkg="fake_localization" type="fake_localization" respawn="false">
	    <param name="odom_frame_id" value="robot_2/odom"/>
	    <param name="base_frame_id" value="robot_2/base_link"/>
	</node>
	<node name="fake_localization3" pkg="fake_localization" type="fake_localization" respawn="false">
	    <param name="odom_frame_id" value="robot_3/odom"/>
	    <param name="base_frame_id" value="robot_3/base_link"/>
	</node>
	 <node pkg="stage" type="stageros" name="stageros" args="$(find dummyPed)/worlds/ped_eng.world" respawn="false">
   		 <param name="base_watchdog_timeout" value="0.2"/>
   		 <remap from="robot_0/base_scan" to="sick_scan2"/>
  	</node>
  	<param name="use_sim_time" value="true"/>
	<node name="curb_map_server" pkg="map_server" type="map_server" args="$(find hybrid_amcl)/worlds/curb_map.yaml">
		<remap from="map" to="curb_map"/>
	</node>
	<node name="plane_map_server" pkg="map_server" type="map_server" args="$(find hybrid_amcl)/worlds/planar_map.yaml">
		<remap from="map" to="planar_map"/>
	</node>	
	<node name="momdp_map_server" pkg="map_server" type="map_server" args="$(find dummyPed)/worlds/momdp_map.yaml">
		<remap from="map" to="momdp_map"/>
		<param name="frame_id" value="momdp"/>
	</node>	
	<include file="$(find ped_is_despot)/move_base.launch"/>
	<node pkg="rviz" type="rviz" name="rviz" respawn="false" args="-d $(find Launch)/nav_simulation_planner.vcg"/>
</launch>

