<launch>
	 <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false">
	</node>
	<node pkg="stage" type="stageros" name="stageros" args="$(find ped_is_despot)/world/golfcar.world" respawn="false">
   		 <param name="base_watchdog_timeout" value="0.2"/>
   		 <remap from="base_scan" to="sick_scan2"/>
   		 <remap from="odom" to="encoder_odom"/>
   		 <!--remap from="cmd_vel" to="momdp_vel"/-->
  	</node>
  	<param name="use_sim_time" value="true"/>
	<node pkg="rviz" type="rviz" name="rviz" respawn="false" args="-d $(find ped_is_despot)/simulation_full.vcg"/>
	<node name="dummyPed_marker" pkg="dummyPed" type="dummyPed_marker" respawn="false"/>

</launch>

